<%= fileHeader({file, commentStyle: 'short'}) %>
import 'package:flutter/material.dart';
import 'package:moon_tokens/src/colors.dart';

/// <%= file.className %> - brand colors for the <%= themeVariant %> theme.
final <%= correctClassName(file.className) %> = MoonColors.<%= themeVariant %>.copyWith(  
  <%= allTokens.map(function(prop) {
    return formatProperty(prop);
  }).join('\n  ') %>
);