<%= fileHeader({file, commentStyle: 'short'}) %>
import 'package:flutter/material.dart';
import 'package:moon_design/moon_design.dart';

final <%= correctClassName(file.className) %> = MoonColors.<%= themeVariant %>.copyWith(  
  <%= allTokens.map(function(prop) {
    return formatProperty(prop);
  }).join('\n  ') %>
);